.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.aqua {
    background-color: aqua;
}

.min-width
{
    min-width: 200px;
}

.min-height
{
    min-height: 200px;
}
