/*****************************************************************************/
/* Inspector                                                                 */
/*****************************************************************************/

.unity-builder-inspector__category-foldout > .unity-foldout__header > .unity-label,
.unity-builder-inspector__category-foldout > .unity-foldout__header > .unity-toggle {
    border-color: rgb(117, 117, 117);
    background-color: rgb(78, 78, 78);
}

.unity-builder-inspector__style-category-foldout > .unity-foldout__header {
    background-color: rgb(34, 34, 34);
}

.unity-builder-inspector__style-category-foldout.unity-builder-inspector__style-category-foldout--override > .unity-foldout__header > .unity-builder-inspector-blue-override-box {
    background-color: rgb(223, 223, 223);
}

.unity-builder-inspector__divider {
    background-color: rgb(151, 151, 151);
}

/*****************************************************************************/
/* BuilderStyleRow                                                           */
/*****************************************************************************/

.unity-builder-inspector__style--override .unity-builder-inspector-blue-override-box {
    background-color: rgb(223, 223, 223);
}

.unity-builder-inspector__style--variable .unity-builder-inspector__variable-field-label, .unity-builder-inspector__style--variable-editing .unity-builder-inspector__variable-field-label {
    border-color: #000000;
    background-color: #1E1E1E;
}

/* TODO: Will need to bring this back once we can also do the dragger at the same time. */
/*.unity-label:hover > .unity-builder-inspector__variable-field-label {
    border-color: #787878;
}*/

.unity-base-field:focus .unity-builder-inspector__variable-field-label {
    color: #81B4FF;
}

.unity-builder-inspector__style--variable-editing .unity-builder-inspector__variable-field-label {
    border-color: rgb(27, 94, 148);
    background-color: rgba(47, 114, 168, 0.3)
}

.unity-builder-inspector__style--variable-editing.unity-builder--readonly .unity-builder-inspector__variable-field-label {
    border-color: rgb(200, 200, 200);
    background-color: rgba(200, 200, 200, 0.3);
}

/*****************************************************************************/
/* Variable Field                                                            */
/*****************************************************************************/

.unity-builder-variable-field__placeholder-label {
    color: rgba(255, 255, 255, 0.3);
    -unity-font-style: italic;
}

.unity-builder-inspector__style--variable-editing.unity-builder--readonly .unity-builder-variable-field .unity-base-field__input {
    background-color: rgba(0, 0, 0, .1);
    color: rgba(255, 255, 255, 0.5);
}

/*****************************************************************************/
/* Background Scale Mode Field                                               */
/*****************************************************************************/

.unity-builder-inspector_background-scale-mode-field #stretch-to-fill > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Background/Stretch To Fill");
}

.unity-builder-inspector_background-scale-mode-field #scale-and-crop > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Background/Scale And Crop");
}

.unity-builder-inspector_background-scale-mode-field #scale-to-fit > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Background/Scale To Fit");
}

/*****************************************************************************/
/* Font Style Field                                                          */
/*****************************************************************************/

.unity-builder-inspector_font-style-field #bold > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Text/Bold");
}

.unity-builder-inspector_font-style-field #italic > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Text/Italic");
}

/*****************************************************************************/
/* Text Align Field                                                          */
/*****************************************************************************/

/* Horizontal */

.unity-builder-inspector_text-align-field #left > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Text Alignment/Left");
}

.unity-builder-inspector_text-align-field #center > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Text Alignment/Centered");
}

.unity-builder-inspector_text-align-field #right > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Text Alignment/Right");
}

/* Vertical */

.unity-builder-inspector_text-align-field #upper > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Text Alignment/Upper");
}

.unity-builder-inspector_text-align-field #middle > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Text Alignment/Middle");
}

.unity-builder-inspector_text-align-field #lower > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Text Alignment/Lower");
}

/*****************************************************************************/
/* White Space Field                                                         */
/*****************************************************************************/

.unity-builder-inspector_white-space-field #normal > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Text White Space/Normal");
}

.unity-builder-inspector_white-space-field #nowrap > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Text White Space/No Wrap");
}

/*****************************************************************************/
/* Display Field                                                             */
/*****************************************************************************/

.unity-builder-inspector_display-field #none > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Display/None");
}

.unity-builder-inspector_display-field #flex > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Display/Flex");
}

/*****************************************************************************/
/* Visiblity Field                                                           */
/*****************************************************************************/

.unity-builder-inspector_visibility-field #hidden > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Display Visibility/Hidden");
}

.unity-builder-inspector_visibility-field #visible > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Display Visibility/Visible");
}

/*****************************************************************************/
/* Overflow Field                                                            */
/*****************************************************************************/

.unity-builder-inspector_overflow-field #hidden > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Display Overflow/Hidden");
}

.unity-builder-inspector_overflow-field #visible > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Display Overflow/Visible");
}

/*****************************************************************************/
/* Flex Direction Field                                                      */
/*****************************************************************************/

.unity-builder-inspector_flex-direction-field #column > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Flex Direction/Column");
}

.unity-builder-inspector_flex-direction-field #column-reverse > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Flex Direction/Column Reverse");
}

.unity-builder-inspector_flex-direction-field #row > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Flex Direction/Row");
}

.unity-builder-inspector_flex-direction-field #row-reverse > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Flex Direction/Row Reverse");
}

/*****************************************************************************/
/* Flex Wrap Field                                                           */
/*****************************************************************************/

.unity-builder-inspector_flex-wrap-field #nowrap > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Flex Wrap/No Wrap");
}

.unity-builder-inspector_flex-wrap-field #wrap > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Flex Wrap/Wrap");
}

.unity-builder-inspector_flex-wrap-field #wrap-reverse > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Flex Wrap/Wrap Reverse");
}

/*****************************************************************************/
/* Align Items Field                                                         */
/*****************************************************************************/

/* Flex-Column */

.unity-builder-inspector--flex-column .unity-builder-inspector_align-items-field #flex-start > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Align Items/Flex Column/Left");
}

.unity-builder-inspector--flex-column .unity-builder-inspector_align-items-field #center > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Align Items/Flex Column/Center");
}

.unity-builder-inspector--flex-column .unity-builder-inspector_align-items-field #flex-end > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Align Items/Flex Column/Right");
}

.unity-builder-inspector--flex-column .unity-builder-inspector_align-items-field #stretch > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Align Items/Flex Column/Stretch");
}

/* Flex-Column-Reverse */

.unity-builder-inspector--flex-column-reverse .unity-builder-inspector_align-items-field #flex-start > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Align Items/Flex Column/Left Reverse");
}

.unity-builder-inspector--flex-column-reverse .unity-builder-inspector_align-items-field #center > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Align Items/Flex Column/Center Reverse");
}

.unity-builder-inspector--flex-column-reverse .unity-builder-inspector_align-items-field #flex-end > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Align Items/Flex Column/Right Reverse");
}

.unity-builder-inspector--flex-column-reverse .unity-builder-inspector_align-items-field #stretch > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Align Items/Flex Column/Stretch Reverse");
}

/* Flex-Row */

.unity-builder-inspector--flex-row .unity-builder-inspector_align-items-field #flex-start > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Align Items/Flex Row/Upper");
}

.unity-builder-inspector--flex-row .unity-builder-inspector_align-items-field #center > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Align Items/Flex Row/Center");
}

.unity-builder-inspector--flex-row .unity-builder-inspector_align-items-field #flex-end > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Align Items/Flex Row/Lower");
}

.unity-builder-inspector--flex-row .unity-builder-inspector_align-items-field #stretch > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Align Items/Flex Row/Stretch");
}

/* Flex-Row-Reverse */

.unity-builder-inspector--flex-row-reverse .unity-builder-inspector_align-items-field #flex-start > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Align Items/Flex Row/Upper Reverse");
}

.unity-builder-inspector--flex-row-reverse .unity-builder-inspector_align-items-field #center > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Align Items/Flex Row/Center Reverse");
}

.unity-builder-inspector--flex-row-reverse .unity-builder-inspector_align-items-field #flex-end > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Align Items/Flex Row/Lower Reverse");
}

.unity-builder-inspector--flex-row-reverse .unity-builder-inspector_align-items-field #stretch > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Align Items/Flex Row/Stretch Reverse");
}

/*****************************************************************************/
/* Justify Content Field                                                     */
/*****************************************************************************/

/* Flex-Column */

.unity-builder-inspector--flex-column .unity-builder-inspector_justify-content-field #flex-start > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Justify Content/Flex Column/Upper");
}

.unity-builder-inspector--flex-column .unity-builder-inspector_justify-content-field #center > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Justify Content/Flex Column/Middle");
}

.unity-builder-inspector--flex-column .unity-builder-inspector_justify-content-field #flex-end > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Justify Content/Flex Column/Lower");
}

.unity-builder-inspector--flex-column .unity-builder-inspector_justify-content-field #space-between > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Justify Content/Flex Column/Space Between");
}

.unity-builder-inspector--flex-column .unity-builder-inspector_justify-content-field #space-around > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Justify Content/Flex Column/Space Around");
}

/* Flex-Column-Reverse */

.unity-builder-inspector--flex-column-reverse .unity-builder-inspector_justify-content-field #flex-start > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Justify Content/Flex Column/Upper Reverse");
}

.unity-builder-inspector--flex-column-reverse .unity-builder-inspector_justify-content-field #center > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Justify Content/Flex Column/Middle Reverse");
}

.unity-builder-inspector--flex-column-reverse .unity-builder-inspector_justify-content-field #flex-end > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Justify Content/Flex Column/Lower Reverse");
}

.unity-builder-inspector--flex-column-reverse .unity-builder-inspector_justify-content-field #space-between > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Justify Content/Flex Column/Space Between Reverse");
}

.unity-builder-inspector--flex-column-reverse .unity-builder-inspector_justify-content-field #space-around > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Justify Content/Flex Column/Space Around Reverse");
}

/* Flex-Row */

.unity-builder-inspector--flex-row .unity-builder-inspector_justify-content-field #flex-start > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Justify Content/Flex Row/Left");
}

.unity-builder-inspector--flex-row .unity-builder-inspector_justify-content-field #center > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Justify Content/Flex Row/Center");
}

.unity-builder-inspector--flex-row .unity-builder-inspector_justify-content-field #flex-end > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Justify Content/Flex Row/Right");
}

.unity-builder-inspector--flex-row .unity-builder-inspector_justify-content-field #space-between > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Justify Content/Flex Row/Space Between");
}

.unity-builder-inspector--flex-row .unity-builder-inspector_justify-content-field #space-around > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Justify Content/Flex Row/Space Around");
}

/* Flex-Row-Reverse */

.unity-builder-inspector--flex-row-reverse .unity-builder-inspector_justify-content-field #flex-start > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Justify Content/Flex Row/Left Reverse");
}

.unity-builder-inspector--flex-row-reverse .unity-builder-inspector_justify-content-field #center > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Justify Content/Flex Row/Center Reverse");
}

.unity-builder-inspector--flex-row-reverse .unity-builder-inspector_justify-content-field #flex-end > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Justify Content/Flex Row/Right Reverse");
}

.unity-builder-inspector--flex-row-reverse .unity-builder-inspector_justify-content-field #space-between > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Justify Content/Flex Row/Space Between Reverse");
}

.unity-builder-inspector--flex-row-reverse .unity-builder-inspector_justify-content-field #space-around > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Justify Content/Flex Row/Space Around Reverse");
}

/*****************************************************************************/
/* Canvas                                                                    */
/*****************************************************************************/

.unity-builder-inspector_canvas-background-mode Button  {
    align-items: center;
}

.unity-builder-inspector_canvas-background-mode #Color > .unity-button-strip__button-icon  {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Canvas/color_picker");
}

.unity-builder-inspector_canvas-background-mode #Image > .unity-button-strip__button-icon {
    background-image: resource("com.unity.ui.builder/Icons/Dark/Inspector/Canvas/RawImage");
}

.unity-builder-inspector_canvas-background-mode #Camera > .unity-button-strip__button-icon  {
    background-image: resource("d_SceneViewCamera.png");
}
